@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply min-h-screen w-full overflow-x-hidden;
    background-image: url("/background_colored.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@layer components {
  .navbar {
    @apply w-full bg-[#1d1e2c] text-[#fafafa] h-[8vh] flex justify-end items-center px-4 sm:px-8;
  }

  nav ul {
    @apply flex gap-8;
  }
  nav ul li {
    font-family: "Sulphur Point", sans-serif;
  }

  h1 {
    color: #c5dfdf;
    font-size: 2.5em;
    font-family: "Quicksand", sans-serif;
  }
  .title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }

  h2 {
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-weight: 300;
    font-size: 1em;
  }

  #register-form {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .button {
    background-color: #d31638;
    color: white;
    padding: 2em 1em;
    border-radius: 8px;
    font-family: "Sulphur Point", sans-serif;
  }

  .form-input {
    background-color: #1d1e2c;
    color: #fafafa;
    text-align: center;
  }
}

/* Styles pour le toast */
.Toastify__toast {
  background-color: #a71666 !important;
  color: #f0f0f0 !important;
  font-size: 1.2em;
  font-weight: 300;
}

/* Pour les styles très spécifiques ou difficiles à faire en Tailwind */
.custom-animation {
  animation: customSlide 0.3s ease-in-out;
}

@keyframes customSlide {
  /* ... */
}
